extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top(style='margin-bottom:0px;')
    .container
      .navbar-header
        a.navbar-brand(href='#') ChatBot
  .row.chat
      .col-xs-12
        .row.message
          .col-xs-10
            img.userAvatar.pull-left(src="/img/chatbot.png", alt="")
            h4 ChatBot
              .small 6:11pm
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        .row.message
          .col-xs-10.col-xs-offset-2
            i.userAvatar.avatar.avatar-color-33.avatar-plain.pull-right.avatar-letter-u
            h4.pull-right Username
              .small 6:11pm
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

  .input-field
    form(role='form')
      .form-group
        textarea#message.form-control(name='message', placeholder='Enter message...')
      .form-group
        button#send.btn.btn-default.pull-right(type='button') Send
        .clearfix

  // 3rd party deps
  script(type="application/javascript", src="/js/jquery.min.js")
  script(type="application/javascript", src="/js/bootstrap.min.js")
  script(type="application/javascript", src="/js/lodash.min.js")

  // My shit
  script(type="application/javascript", src="/js/chatbot.js")
  script(type="application/javascript", src="/js/index.js")
