html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.chat {
    height: 100%;
    width:100%;
    overflow: scroll;
    position: relative;
    padding-top: 100px;
    margin-top: -50;
    margin-top: -50px;
    margin-bottom: 0px;
    padding-bottom: 100px;
    margin-right: 0;
    margin-left: 0;
}
.input-field {
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 15px 15px 0px 15px;
    border-top: 1px solid black;
    z-index: 9999;
    background-color: white;
    height: 150px;
}
#message {
    resize: none;
}
.row.message {
    padding: 10px;
}
.userAvatar {
    height: 100px;
    width: 100px;
    position: relative;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}
